In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Leshukonskoye,RU,2022-06-06 19:51:01,64.8989,45.7622,53.38,87,92,4.34
1,1,Mataura,NZ,2022-06-06 19:51:02,-46.1927,168.8643,43.45,84,100,4.45
2,2,Batetskiy,RU,2022-06-06 19:51:02,58.6461,30.3027,47.12,65,4,4.14
3,3,Port Elizabeth,ZA,2022-06-06 19:51:02,-33.9180,25.5701,57.49,62,0,3.44
4,4,Ilulissat,GL,2022-06-06 19:51:03,69.2167,-51.1000,37.76,58,5,10.40

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.

locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
10,10,Hithadhoo,MV,2022-06-06 19:51:04,-0.6000,73.0833,82.00,74,98,2.21
13,13,Guasdualito,VE,2022-06-06 19:51:05,7.2424,-70.7324,87.76,62,40,4.61
17,17,Galle,LK,2022-06-06 19:51:06,6.0367,80.2170,78.40,87,100,9.98
22,22,Lorengau,PG,2022-06-06 19:51:08,-2.0226,147.2712,80.60,79,100,5.68
26,26,Kapaa,US,2022-06-06 19:51:09,22.0752,-159.3190,80.47,78,20,9.22
27,27,Kloulklubed,PW,2022-06-06 19:51:10,7.0419,134.2556,82.63,73,100,5.28
33,33,Albany,US,2022-06-06 19:47:58,42.6001,-73.9662,80.17,40,100,3.38
34,34,Kattivakkam,IN,2022-06-06 19:51:11,13.2167,80.3167,86.09,74,83,12.48
41,41,Arraial Do Cabo,BR,2022-06-06 19:51:14,-22.9661,-42.0278,76.96,47,0,18.41
43,43,Vila Velha,BR,2022-06-06 19:51:15,-20.3297,-40.2925,76.95,74,0,8.05

In [11]:
preferred_cities_df.count()

City_ID       176
City          176
Country       176
Date          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
10        Hithadhoo      MV     82.00  -0.6000   73.0833
13      Guasdualito      VE     87.76   7.2424  -70.7324
17            Galle      LK     78.40   6.0367   80.2170
22         Lorengau      PG     80.60  -2.0226  147.2712
26            Kapaa      US     80.47  22.0752 -159.3190
27      Kloulklubed      PW     82.63   7.0419  134.2556
33           Albany      US     80.17  42.6001  -73.9662
34      Kattivakkam      IN     86.09  13.2167   80.3167
41  Arraial Do Cabo      BR     76.96 -22.9661  -42.0278
43       Vila Velha      BR     76.95 -20.3297  -40.2925

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    try:
        # Grab the first hotel from the results and store the name.
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
            print("Hotel not found...skipping")

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
10,Hithadhoo,MV,82.00,-0.6000,73.0833,Scoop Guest House
13,Guasdualito,VE,87.76,7.2424,-70.7324,Hotel Cuibas
17,Galle,LK,78.40,6.0367,80.2170,Amangalla
22,Lorengau,PG,80.60,-2.0226,147.2712,Lorengau Harbourside Hotel
26,Kapaa,US,80.47,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
27,Kloulklubed,PW,82.63,7.0419,134.2556,Storyboard Beach Resort
33,Albany,US,80.17,42.6001,-73.9662,
34,Kattivakkam,IN,86.09,13.2167,80.3167,Euronova Freezer
41,Arraial Do Cabo,BR,76.96,-22.9661,-42.0278,Pousada Porto Praia
43,Vila Velha,BR,76.95,-20.3297,-40.2925,Hotel Vitória Palace

In [16]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [28]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
locations.head()

        Lat       Lng
10  -0.6000   73.0833
13   7.2424  -70.7324
17   6.0367   80.2170
22  -2.0226  147.2712
26  22.0752 -159.3190